[Unit]
Description=BerryPi boot sequencer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/berrypi-boot-sequencer

[Install]
WantedBy=multi-user.target
